@charset "UTF-8";
/* CSS Document */

body {
	width: 960px;
	background-color: #777;
	align-content: center;
	margin: auto;
}

h1 {
	font-family: arial, helvetica, sans-serif;
	font-size: 38px;
	text-align: center;
	color: #ebebeb;
}

h2 {
	font-family: arial, helvetica, sans-serif;
	font-size: 30px;
	text-align: left;
	color: #ebebeb;
	padding-left: 15px;
}

h3 {
	font-family: georgia, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	text-align: left;
	color: #ff6481;
	padding-left: 15px;
}

h4 {
	font-family: verdana, sans-serif;
	font-size: 14px;
	color: #414f4b;
	line-height: 55px;
}

.header {
	border-style: solid, 2px, #333;
	align-content: center;
	background-color: #1aa5e9;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
}

.nav {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #5dcfb1;
	text-align: center;
	background-color: #494d4c;
	padding-top: 25px;
	padding-bottom: 25px;
}

section {
	width: 495px;
	background-color: #083178;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 300px;
}

article {
    display: block;
}

.footer {
	background-color: #5dcfb1;
	padding-top: 50px;
	padding-bottom: 20px;
	width: auto;
	text-align: center;
}

#footertext {
	font-family: verdanan, sans-serif;
	line-height: 10px;
}

aside {
	background-color: #ff6481;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	width: 465px;
	height: 300px;
}

.right {
	clear: right;
}

#yall {
	text-align: center;
	line-height: 150px;
	font-weight: bold;
}

p {
	font-family: arial, helvetica, sans-serif;
	font-size: 18px;
	color: #ebebeb;
	padding-left: 15px;
	padding-right: 15px;
}

a:link {
    color: #5dcfb1;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #5dcfb1;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #1bad87;
    text-decoration: underline;
    font-weight: bold;

}

a:active {
    color: #1bad87;
    text-decoration: underline;
    font-weight: bold;
}